.country-name{
    padding: 7px 4px 7px 4px;
    box-shadow: 0px 0px 1px 1px #efecec;
    text-align: center;
}
.country-data{
    display: flex;
    color: #648ad0;
    justify-content: space-around;
    font-size: 18px;
    align-items: center;
    box-shadow: 0px 0px 1px 0px #c5bfbf;
    align-content: center;
    margin: 5px 2px 5px 2px;
    padding: 7px 0px 7px 0px;
    
}
.case-title{
    color: #7d6f6f;
    font-size: 12px;
}
.case-count{
   color: #648ad0;
   font-weight: 600;
   font-size: 14px;
}
html{
    font-family:sans-serif;
}
.loading{
    
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 0px 1px 0px #bbb3b3;
        padding: 6px 0px;
}
.countryN{
    text-decoration: none;
    color: #ea4716;
    font-size: 23px;
 
}
.country-covid-details{
    padding: 7px 4px 7px 4px;
    box-shadow: 0px 0px 1px 1px #efecec;
    text-align: center;
    font-size: 21px;
    color: #ea4716
    ;
}
.back{
    margin: 2px 7px 10px 1px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #ff5722;
    padding: 5px 8px 5px 8px;
    border-radius: 2px;


}
.search-bar{
    border: none;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    outline: none;
    border-top: 1px solid #f0f3f9;
    margin-top: 2px;
    margin-bottom: 2px;
}
.error-messege{
    text-align: center;
    padding: 7px 0px;
    box-shadow: 0px 0px 1px 0px #d8d5d5;
}
.input-container{
    display: flex;
    width: 100%;
    margin-bottom: 0px;
}
.icon{
   position:absolute;
   padding: 10px;
   color: #6992de;
   min-width:20px;
   text-align: center;
}
.fa-bed{
    font-size: 23px;
    color: #422df3
}
.fa-user-times{
    font-size: 23px;
    color: #ea536f;
}
.fa-heartbeat{
    font-size: 23px;
    color: #009688;   
}
